In [1]:
import pandas as pd
import plotly.express as px

In [3]:
excel_file = 'Survey_Results.xlsx'
sheet_name = 'DATA'
df = pd.read_excel(excel_file, 
                   sheet_name = sheet_name,
                   header = 3,                          
                   usecols='B:D')
df.head(10)

   Department  Age  Rating
0   Marketing   59  3 Star
1    Logistic   58  2 Star
2  Purchasing   49  2 Star
3    Logistic   43  3 Star
4    Logistic   32  2 Star
5  Purchasing   35  3 Star
6  Purchasing   57  2 Star
7    Logistic   55  1 Star
8       Sales   53  2 Star
9   Marketing   56  3 Star

In [4]:
df.shape

(676, 3)

In [8]:
total_rows = df.shape[0]
print(f'Total rows: {total_rows}')

Total rows: 676

In [9]:
total_var = df.shape[1]
print(f'Nbre variables: {total_var}')

Nbre variables: 3